.container{
    background: #1A1A1A;
    color: white;
    
  }
  
  .dillo1{
    display: grid;
    object-fit: contain;
    margin-bottom: 12px;
   /* padding-bottom: 20px;*/
   /* margin-left: 10px;*/
    display: table-cell;
    vertical-align: middle;
  }
  .dillo2{
    object-fit: contain;
   /* margin-left: 10px;*/
   padding-bottom: 10%;
   /* margin-bottom: 50px;*/
  }
  .dillo3{
    object-fit: contain;
    /*margin-bottom: 30px;
    padding-bottom: 30px;*/
   /* margin-left: 10px;*/
  }
  .dillo4{
    object-fit: contain;
   padding-top: 10px;
   /* margin-left: 10px;*/
  
  }
  
  
  
  