.container {
  background-color: rgba(26, 26, 26, 1); /* ajouté cette ligne */
  max-width:max-content;
 
  
}



.text-section-about{
  text-align: left;
  margin-top: 1%;
  line-height: 2rem;
  font-family: Roboto;
  font-size: 18px;

}
.icons-section-about{
  display:flex;
  line-height: 1rem;
  margin:5%;
  width: 405px;
  top: 2908px;
  left: 506px;
  justify-content: space-between;
  color: aliceblue;

}
.icons-section-about1{
  display:flex;
  line-height: 1rem;
  margin:0% 5% 0% 5%;
  padding-bottom: 40px;
  width: 405px;
  top: 2px;
  left: 506px;
  justify-content: space-between;
  color: aliceblue;
}
h1{
  color:rgba(255, 255, 255, 1);
  font-family: Qanelas;
  font-size: 50px;
  font-weight: 600;
  line-height: 61px;
  letter-spacing: -1.05px;
  text-align: right;
  width: 209px;
  height: 61px;
  top: 3530px;
  left: 89px;
}

/* Ajouté ces règles @media */

.col-6 p {
  padding-top: 100px;

}
.col-6 h5 {
margin-left: 5px;
margin-top: 26px;
}



@media (min-width:425px) and (max-width:912px){
  .ABOUT{
    margin-top: 120%;
  }
}
